<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--css düzenlemeleri için diğer dosyayla kurulan bağlantı-->
    <link rel="stylesheet" href="css\styling.css">

    <!--kullandığım font için bağlantı-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet">

    <!--ikonlar için kullandığım sayfa için bağlantı-->
    <script src="https://kit.fontawesome.com/fc632914cb.js" crossorigin="anonymous"></script>

    <!--kaydırma efekti için owl carousel bağlantısı-->
    <link rel="stylesheet" href="owl/owl.carousel.min.css">
    <link rel="stylesheet" href="owl/owl.theme.default.min.css">
    


    <title>Sipariş Verin | Modsis</title>


</head>
<body>

    <section id="menu">
        <div id="logo">Modsis</div>
        <nav>
            <a href=""><i class="fa-solid fa-house ikon"></i>Anasayfa</a>
            <a href=""><i class="fa-solid fa-caravan ikon"></i>Modeller</a>
            <a href=""><i class="fa-solid fa-image ikon"></i>Galeri</a>
            <a href="login.html"><i class="fa-solid fa-user ikon"></i>Giriş Yap</a>
        </nav>
    </section>

    <section id="anasayfa">
        <div id="black"></div>

        <div id="icerik">
            <h2>Bugün Sipariş Verin</h2>
            <hr width="300" align="left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo minus quaerat nostrum, ipsam quos excepturi consequuntur nisi placeat quam vitae aliquid quidem eaque, minima nulla, laboriosam molestiae. Eaque, molestiae?
            </p>
        </div>
    </section>

    <section id="bilgi" >
        <div></div>

    </section>

    <section id="modeller">
        <div class="container">
            <h1>MODELLERİMİZ</h1>

            <div class="owl-carousel owl-theme"> <!--kartların bir arada bulunduğu div-->

                <div class="card item" data-merge="1.5">
                    <img src="img/modsis-777.jpg" class="img-fluid">
                    <h5 class="cardbaslik">Model XXX</h5>
                    <p class="pcard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ducimus!</p>
                </div>

                <div class="card item" data-merge="1.5">
                    <img src="img/modsis-777.jpg" class="img-fluid">
                    <h5 class="cardbaslik">Model YYY</h5>
                    <p class="pcard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ducimus!</p>
                </div>

                <div class="card item" data-merge="1.5">
                    <img src="img/modsis-777.jpg" class="img-fluid">
                    <h5 class="cardbaslik">Model ZZZ</h5>
                    <p class="pcard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ducimus!</p>
                </div>

                <div class="card item" data-merge="1.5">
                    <img src="img/modsis-777.jpg" class="img-fluid">
                    <h5 class="cardbaslik">Model QQQ</h5>
                    <p class="pcard">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ducimus!</p>
                </div>


            </div>

        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="owl/owl.carousel.min.js"></script>
    <script src="owl/script.js"></script>

</body>
</html>